@font-face {
    font-family: 'iconfont';  /* Project id 2770550 */
    src: url('//at.alicdn.com/t/font_2770550_jt7r5w28o.woff2?t=1633764752387') format('woff2'),
    url('//at.alicdn.com/t/font_2770550_jt7r5w28o.woff?t=1633764752387') format('woff'),
    url('//at.alicdn.com/t/font_2770550_jt7r5w28o.ttf?t=1633764752387') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
