@font-face {
    font-family: 'iconfont';  /* Project id 2770550 */
    src: url('//at.alicdn.com/t/font_2770550_hgt9zo2np6e.woff2?t=1632898224682') format('woff2'),
    url('//at.alicdn.com/t/font_2770550_hgt9zo2np6e.woff?t=1632898224682') format('woff'),
    url('//at.alicdn.com/t/font_2770550_hgt9zo2np6e.ttf?t=1632898224682') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}