.index-layout {
    height: 100%;
    /*将标签栏的部分空出来*/
    padding-bottom: 48px;
    overflow: auto;
}

.header-layout {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 54px;
    z-index: 99;
}

.header-layout .searchbox {
    width: 89.3333%;
}

.slider-layout,
.nav-layout,
.product-layout {
    background-color: #fff;
}

.slider-layout .loading,
.nav-layout .loading,
.product-layout .loading {
    padding: 60px 0;
}

.nav-layout {
    margin-bottom: 10px;
}