@font-face {
    font-family: "PingFangSCRegular";
    src: url('../fonts/PingFangSCRegular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PingFangSCRegular";
    border: none;
    outline: none;
}

em {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    vertical-align: top;
}